.container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}
.form--main {
    max-width: 350px;
    margin: 60px auto;
    text-align: center;
}
.form{
    display: block;
}
input {
    line-height: normal;
    border-radius: 0;
}
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .form__input-wrapper--labelled .form__field {
        padding-top: 20px;
        padding-bottom: 3px;
    }
    .form__field {
        display: block;
        padding: 12px 12px;
        border-radius: 2px;
        border: 1px solid #d4d6d8;
        width: 93%;
        line-height: normal;
        height: 20px;
        color: #332f34;
        background: white;
        -webkit-appearance: none;
        resize: none;
        font-size: 1rem;
        font-size: max(1rem, 16px);
        box-shadow: 0 1px rgba(225, 227, 228,.25) inset;
        transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    }
    .button--full {
        width: 100%;
    }
    .form__submit {
        display: block;
        margin-top: 20px;
    }
    .button--primary{
        background-color:#332f34 ;
        color: white;
    }
    .button {
        display: inline-block;
        padding: 0 30px;
        line-height: 48px;
        border-radius: 2px;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        transition: background .25s ease-in-out,color .25s ease-in-out,box-shadow .25s ease-in-out;
    }
    .form__secondary-action {
        margin-top: 32px;
        font-size: calc(13px - (15px - 13px));
        color: gray;
        font-size: 13px;
    }
    
    .link--accented {
        color: #332f34;
    }
    .form__title {
        margin-bottom: 15px;
    }
    .heading {
        font-family:'Montserrat', sans-serif;;
        font-weight: 400;
        font-style:normal;
        color: #332f34;
    }
    .form__header {
        margin-bottom: 30px;
    }
    h1{
        font-size: calc(13px - (15px - 28px));
        line-height: 1.43;
        font-weight: lighter !important;
    }
    .form__input-wrapper {
        width: 100%;
        margin-bottom: 12px;
    }
    .form__floating-label {
        position: absolute;
        left: 13px;
        top: 0;
        line-height: 40px;
        font-size: 1rem;
        color: #332f34;
        transform: scale(1);
        transform-origin: left top;
        transition: transform .2s ease-in-out;
        pointer-events: none;
    }
    .form__legend{
       color: gray;
    }
    .link--accented{
        text-decoration: none;
        color: rgb(111, 108, 108);
    }